<div class="container-fluid">
	<div class="parsys par-frag">
		<div class="footercontent parbase section">
			<!-- HTML for Footer Content Component -->
			<div class="footer-group">
				<div class="footer-teaser">
					<div>
						<div class="inner-anchor">
							<p>
								Need Help? Call <a href="tel:18006280525"><span
									class="deep-orange">1-800-628-0525</span></a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-group">
				<div class="footer-services">
					<ul class="image-list">
						<!-- HTML for Image List Component -->
						<li class="image section">
							<!-- HTML for Image Item Component --> <a target="_self"
							href="#" class="block-elm"> <img
								src="/content/dam/thdc/common/credit-services.png" />
						</a> <!-- Default Image Placeholder for drag and drop-->

						</li>
						<li class="image section">
							<!-- HTML for Image Item Component --> <a target="_self"
							href="#" class="block-elm">

								<img
								src="/content/dam/thdc/common/installation-services.png" />
						</a> <!-- Default Image Placeholder for drag and drop-->

						</li>
						<li class="image section">
							<!-- HTML for Image Item Component --> <a target="_self"
							href="#" class="block-elm">

								<img
								src="/content/dam/thdc/common/tool-vehicle-rentals.png" />
						</a> <!-- Default Image Placeholder for drag and drop-->

						</li>
						<li class="image section">
							<!-- HTML for Image Item Component --> <a target="_self"
							href="#" class="block-elm"> <img
								src="/content/dam/thdc/common/top-links-contractor-services-EN.jpg"
								alt="Pro" />
						</a> <!-- Default Image Placeholder for drag and drop-->

						</li>

					</ul>

				</div>
			</div>

			<div class="footer-group">
				<section class="footer-connections">
					<div class="row">
						<div class="col-sm-7 col-md-8">
							<div class="footer-signup">
								<div>
									<!-- HTML for Newsletter Sign Up Component -->

									<div class="footer-signup">
										<div class="footer-signup-title">
											<a class="hidden-auth"
												href="#"> Get
												&#x24;5 when you sign up for email<i
												class="icon icon-chevron-right deep-orange"></i>
											</a> <a class="hidden-nonauth"
												href="#"> Manage
												Your Email Preferences<i
												class="icon icon-chevron-right deep-orange"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-5 col-md-4">
							<div class="footer-social">
								<ul class="image-list">
									<!-- HTML for Image List Component -->
									<ul class="image-list section">
										<!-- HTML for Image List Component -->
										<li class="image section">
											<!-- HTML for Image Item Component --> <a target="_blank"
											href="https://www.facebook.com/homedepotcanada"
											class="block-elm"> <img
												src="/etc/designs/homedepot/images/facebook.png"
												alt="Facebook" />
										</a> <!-- Default Image Placeholder for drag and drop-->

										</li>
										<li class="image section">
											<!-- HTML for Image Item Component --> <a target="_blank"
											href="https://twitter.com/homedepotcanada" class="block-elm">

												<img src="/etc/designs/homedepot/images/twitter.png"
												alt="Twitter" />
										</a> <!-- Default Image Placeholder for drag and drop-->

										</li>
										<li class="image section">
											<!-- HTML for Image Item Component --> <a target="_blank"
											href="https://www.pinterest.com/homedepotcanada/"
											class="block-elm"> <img
												src="/etc/designs/homedepot/images/pinterest.png"
												alt="Pinterest" />
										</a> <!-- Default Image Placeholder for drag and drop-->

										</li>
										<li class="image section">
											<!-- HTML for Image Item Component --> <a target="_blank"
											href="https://www.youtube.com/homedepotcanada"
											class="block-elm"> <img
												src="/etc/designs/homedepot/images/youtube.png"
												alt="YouTube" />
										</a> <!-- Default Image Placeholder for drag and drop-->

										</li>
										<li class="image section">
											<!-- HTML for Image Item Component --> <a target="_self"
											href="#" class="block-elm"> <img
												src="/etc/designs/homedepot/images/mobile.png" />
										</a> <!-- Default Image Placeholder for drag and drop-->

										</li>
										<li class="image section">
											<!-- HTML for Image Item Component --> <a target="_self"
											href="https://www.linkedin.com/company/1551117"
											class="block-elm"> <img
												src="/etc/designs/homedepot/images/linkedin.png" />
										</a> <!-- Default Image Placeholder for drag and drop-->

										</li>

									</ul>

								</ul>
							</div>
						</div>
					</div>
				</section>
			</div>

			<div class="footer-group">
				<section class="footer-links">
					<div>
						<!-- HTML for Column Control Component -->
						<!-- 50% column (6 column span of a 12 column grid) -->
						<div class="row row ">
							<div class="col-sm-4 ">
								<div>
									<div class="menulist parbase section">
										<div class="link-list-container">
											<h2 class="link-list-title">
												<a target="_self"> Frequently Asked Questions </a>
											</h2>
											<ul class="link-list ">
												<li class="link "><a
													href="#" target="_self">
														Customer Support </a></li>
												<li class="link "><a
													href="#"
													target="_self"> In-Store Pick-Up FAQ </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Shipping FAQ </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Home FAQ </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Products FAQ </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Eco-Fees FAQ </a></li>
												<li class="link "><a
													href="#"
													target="_self"> eReceipts FAQ </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Privacy FAQ </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Major Appliances Dellivery FAQ </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Free Shipping </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Return Policy </a></li>
												<li class="link "><a
													href="#" target="_self">
														Holiday Store Hours </a></li>
											</ul>
										</div>
									</div>

								</div>
							</div>
							<div class="col-sm-4 ">
								<div>
									<div class="menulist parbase section">
										<div class="link-list-container">
											<h2 class="link-list-title">
												<a target="_self"> Product &amp; Policy Information </a>
											</h2>
											<ul class="link-list ">
												<li class="link "><a
													href="#"
													target="_self"> Product Notifications </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Extended Service Plan </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Terms of Use </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Privacy &amp; Security </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Accessibility Policy </a></li>
												<li class="link "><a
													href="#" target="_self">
														Customer Survey </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Home Depot Price Guarantee </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Gift Cards </a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4 ">
								<div>
									<div class="menulist parbase section">
										<div class="link-list-container">
											<h2 class="link-list-title">
												<a target="_self"> The Home Depot Canada </a>
											</h2>
											<ul class="link-list ">
												<li class="link "><a href="#"
													target="_self"> Contact Us </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Unsubscribe from Email </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Become an Affiliate </a></li>
												<li class="link "><a
													href="http://www.homedepot.monstermediaworks.ca/prod/"
													target="_self"> Careers in Canada </a></li>
												<li class="link "><a
													href="#" target="_self">
														Company Information </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Eco Options </a></li>
												<li class="link "><a
													href="#"
													target="_self"> Media Relations </a></li>
												<li class="link "><a
													href="#"
													target="_self"> The Home Depot Canada Foundation </a></li>
												<li class="link "><a href="http://www.homedepot.com"
													target="_self"> The Home Depot USA </a></li>
												<li class="link "><a
													href="http://stores.homedepot.ca/" target="_self">
														Store Locator </a></li>
												<li class="link "><a href="#"
													target="_self"> Site Map </a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="footer-group">
				<div class="footer-security-notice">
					<!-- HTML for Certificate Icon Component -->
					<div class="notice">
						<p>
							<br /> Shop with confidence<br /> at homedepot.ca.
						</p>
						<p></p>
					</div>
					<!-- /* Sightly comment: need to replace with image list component once it's built so it's wrapped correctly. */-->
					<ul class="image-list">
						<!-- HTML for Image List Component -->
						<li class="-norton image section">
							<table width="135" border="0" cellpadding="2" cellspacing="0"
								title="Click&#x20;to&#x20;Verify&#x20;-&#x20;This&#x20;site&#x20;chose&#x20;Symantec&#x20;SSL&#x20;for&#x20;secure&#x20;e-commerce&#x20;and&#x20;confidential&#x20;communications.">
								<tr>
									<td width="135" align="center" valign="top"><script
											type="text/javascript"
											src="https://seal.websecurity.norton.com/getseal?host_name=www.homedepot.ca&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en">
										
									</script> <br /> <a href="http://www.symantec.com/ssl-certificates"
										target="_blank"
										style="color: #000000; text-decoration: none; font: bold 7px verdana, sans-serif; letter-spacing: .5px; text-align: center; margin: 0px; padding: 0px;">
											ABOUT SSL CERTIFICATES </a></td>
								</tr>
							</table>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-group">
				<div class="footer-copyright">
					<div>
						<div class="inner-anchor">
							<p>
								© 2017 Home Depot International, Inc. All Rights Reserved. Use
								of this website is subject to certain <a target="_blank"
									href="#">terms
									of use</a> which constitute a legal agreement between you and Home
								Depot of Canada Inc<span class="red">.</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="parbase section storeselector">
		
		</div>
	</div>
</div>