<meta charset="utf-8" data-sly-use.head="head.js">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Homedepot | ${currentPage.title}</title>
<meta name="description" content="${properties.jcr:description}" />

<link rel="canonical" href="https://www.homedepot.ca/en/home.html"/>
<link rel="alternate" href="https://www.homedepot.ca/fr/accueil.html" hreflang="fr-ca"/>
<link rel="alternate" href="https://www.homedepot.ca/en/home.html" hreflang="en-ca"/>
<link rel="alternate" href="android-app://com.thehomedepotca/https/www.homedepot.ca/en/home.html"/>
<link rel="icon" type="image/png" href="/etc/designs/homedepot/favicons/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/png" href="/etc/designs/homedepot/favicons/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="/etc/designs/homedepot/favicons/favicon-16x16.png" sizes="16x16"/>